.competencies__header {
  margin-bottom: 80px;
  padding-top: 150px;
  font-size: 55px;
  line-height: 72px;
  color: #FFFFFF;
}
.competencies__items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.competencies__item {
  position: relative;
  padding-top: 60px;
  width: calc(50% - 25px);
}
.competencies__item::before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #1BFF07
}
.competencies__item:nth-child(1)::before {
  background-image: url(../images/html.png);
}
.competencies__item:nth-child(2)::before {
  background-image: url(../images/js.png);
}
.competencies__item:nth-child(3)::before {
  background-image: url(../images/phone.png);
}
.competencies__item:nth-child(4)::before {
  background-image: url(../images/react.png);
}
.competencies__title {
  margin-bottom: 15px;
  font-size: 34px;
  line-height: 46px;
  color: #1BFF07;
}
.competencies__content {
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .competencies__header {
    margin-bottom: 60px;
    padding-top: 150px;
    font-size: 45px;
    line-height: 58px;
  }
  .competencies__items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .competencies__item {
    position: relative;
    padding-top: 60px;
    width: calc(50% - 20px);
  }
  .competencies__item::before {
    width: 36px;
    height: 36px;
  }
  .competencies__title {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 36px;
  }
  .competencies__content {
    font-size: 18px;
    line-height: 23px;
  }
}
@media (max-width: 767px) {
  .competencies__header {
    margin-bottom: 60px;
    padding-top: 100px;
    width: 100%;
  }
  .competencies__items {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .competencies__item {
    position: relative;
    width: 100%;
  }
  .competencies__item::before {
    width: 36px;
    height: 36px;
  }
  .competencies__title {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 36px;
  }
  .competencies__content {
    font-size: 18px;
    line-height: 23px;
  }
}
