.header__section {
  padding-bottom: 94px;
  width: 100%;
  height: 765px;
  position: relative;
  background-image: url(../images/background-header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.nav__container {
  margin: 0 auto;
  width: 1150px;
  height: 765px;
}
.nav__logo {
  position: absolute;
  margin-top: 27px;
  width: 150px;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -0.11em;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 100px;
  background: #000000;
  text-transform: uppercase;
  color: #1BFF07;
}
.nav__items {
  display: flex;
  margin-top: 33px;
  float: right;
  color: #FFFFFF;
}
.nav__item {
  margin-right: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.03em;
}
.nav__content {
  text-decoration: none;
  color: white;
}
.nav__item:nth-last-child(1) {
  margin-right: 0;
}
.nav__content:hover {
  color: #1BFF07;
}

.header-content__container {
  margin: 0 auto;
  margin-bottom: 94px;
  width: 1150px;
}
.nav__text-content {
  position: absolute;
  margin-bottom: 29px;
  top: 334px;
  width: 430px;
  height: 103px;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.nav__text-about-me {
  position: absolute;
  padding-bottom: 94px;
  top: 466px;
  width: 919px;
  height: 265px;
  font-weight: 400;
  font-size: 77px;
  line-height: 70px;
  color: #1BFF07;
}