html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
  background: black;
}
.nav__section {
  padding-bottom: 94px;
  position: relative;
  background-image: url(/images/background-header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.nav__container {
  margin: 0 auto;
  width: 1150px;
  height: 765px;
}
.nav__text-background-img {
  margin-top: 36px;
  margin-bottom: 259px;
  position: relative;
}
.nav__text {
  width: 1150px;
  display: block;
  position: absolute;
  top: 27px;
  left: 196px;
  font-weight: 700;
  font-size: 42.4138px;
  line-height: 55px;
  letter-spacing: -0.11em;
  text-transform: uppercase;
  color: #1BFF07;
}
.nav__lists{
  margin-top: 36px;
  display: inline;
  float: right;
}
.nav__list {
  margin-left: 50px;
  font-size: 18px;
  line-height: 23px;
  color: white;
  text-decoration: none;
}
.nav__text-content {
  margin-bottom: 29px;
  width: 430px;
  height: 103px;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.nav__text-about-me {
  width: 919px;
  height: 205px;
  font-weight: 400;
  font-size: 80px;
  line-height: 70px;
  color: #1BFF07;
}
.portfolio__container {
  margin: 0 auto;
  width: 1150px;
}
.portfolio__header {
  margin: 0 auto;
  width: 1150px;
  margin-top: 150px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.portfolio__item {
  margin: 0 auto;
  position: relative;
  width: 1150px;
}
.portfolio__img {
  width: 1150px;
  height: 550px;
  border-radius: 30px;
}
.portfolio__item-title {
  position: absolute;
  margin-bottom: 5px;
  bottom: 94px;
  left: 50px;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: white;
}
.portfolio__text-description {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.03em;
  color: white;
}
.portfolio__button-container {
  margin: 0 auto;
  margin-top: 80px;
  width: 1150px;
}
.portfolio__btn {
  width: 582px;
  height: 153px;
  background: #1BFF07;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
}
.portfolio__btn:hover {
  background: transparent;
  color: #1BFF07;
  border: 1px solid #1BFF07;
}
.competencies__header {
  margin: 0 auto;
  margin-top: 150px;
  width: 1150px;
  font-weight: 400;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.competencies__container {
  margin: 0 auto;
  width: 1150px;
}
.competencies__item {
  margin-top: 60px;
}
.competencies__item:first-child{
  margin-top: 48px;
}
.competencies__image {
  position: relative;
  width: 45px;
  height: 44px;
  border: 1px solid #1BFF07;
  background: #1BFF07;
  border-radius: 10px;
}
.small__image {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.competencies__title {
  margin-top: 12px;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #1BFF07;
}
.competencies__content {
  margin-top: 15px;
  width: 778px;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.competencies__item:nth-last-child(1) {
  padding-bottom: 150px;
}
.services__section {
  margin: 0 auto;
  width: 1150px;
}
.services__header {
  margin-bottom: 74px;
  width: 403px;
  height: 92px;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.services__item-div {
  margin: 0 auto;
  position: relative;
  margin-bottom: 74px;
  width: 1150px;
  height: 283px;
  border: 1px solid #191C19;
  background: #191C19;
  border-radius: 30px;
}
.services__title {
  position: absolute;
  top: 40px;
  left: 40px;
  font-weight: 400;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #1BFF07;
}
.services__content {
  position: absolute;
  width: 794px;
  bottom: 40px;
  left: 40px;
  height: 116px;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.services__item:nth-last-child(1) {
  margin-bottom: 150px;
}
.contacts__section {
  position: relative;
  margin: 0 auto;
  margin-bottom: 150px;
  width: 1400px;
  height: 717px;
  background-image: url(/images/background\ pre-footer\ img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.contacts__title {
  position: absolute;
  top: 320px;
  left: 125px;
  font-weight: 400;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.contacts__container{
  position: absolute;
  top: 408px;
  left: 125px;
}
.contacts__items {
  margin-bottom: 20px;
}
.contacts__content {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: #FFFFFF;
}
.contacts__content:hover {
  color: #1BFF07;
}