.services__section {
  padding-top: 150px;
}
.services__header {
  margin-bottom: 74px;
  width: 403px;
  height: 92px;
  font-size: 35px;
  line-height: 46px;
  color: #FFFFFF;
}
.service__image {
  border-radius: 30px;
}
.services__item-cols {
  display: flex;
  margin-bottom: 40px;
  padding: 40px 60px 0 40px;
  flex-direction: row;
  justify-content: space-between;
  height: 283px;
  border: 1px solid #191C19;
  background: #191C19;
  border-radius: 30px;
}
.services__title {
  width: 45%;
  font-size: 55px;
  line-height: 72px;
  color: #1BFF07;
}
.services__content {
  width: 50%;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .services__header {
    margin-bottom: 60px;
    width: 326px;
    height: 74px;
    font-size: 28px;
    line-height: 37px;
  }
  .service__image {
    width: 100%;
    height: 162px;
    border-radius: 24px;
    object-fit: cover;
    object-position: center;
  }
  .services__item-cols {
    margin-bottom: 32px;
    padding: 32px 52px 0 32px;
    height: 229px;
  }
  .services__title {
    font-size: 43px;
    line-height: 110%;
  }
  .services__content {
    font-size: 16px;
    line-height: 23px;
  }
}
@media (max-width: 767px) {
  .services__section {
    padding-top: 100px;
  }
  .services__header {
    margin-bottom: 60px;
    width: 100%;
    height: 74px;
    font-size: 28px;
    line-height: 37px;
  }
  .service__image {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
  }
  .services__item-cols {
    flex-direction: column;
    margin-bottom: 60px;
    padding: 32px 52px 0 32px;
    height: 100%;
  }
  .services__title {
    width: 100%;
    font-size: 35px;
    line-height: 110%;
  }
  .services__content {
    padding-bottom: 55px;
    width: 100%;
    font-size: 16px;
    line-height: 23px;
  }
}